<section class="about-section" id="about">
  <div class="container">
    
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="about-heading">About Me</h2>
        <div class="about-divider"></div>
      </div>
    </div>

    <div class="row about-content">
      <div class="col-md-5 col-md-offset-1">
        <p class="lead-text">
          Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete
          source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy
          customization.
        </p>
      </div>
      <div class="col-md-5">
        <p class="secondary-text">
          Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! 
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center download-wrapper">
        <a href="#" class="btn btn-resume">
          <i class="fa fa-file-pdf-o"></i> Download Resume
        </a>
      </div>
    </div>

  </div>
</section>