<section id="experience" class="experience-section">
  <div class="container text-center">
    
    <h2 class="section-heading">Experience</h2>
    <div class="purple-divider"></div>
    <p class="experience-subtitle">Brands & companies I've collaborated with</p>

    <div class="logo-carousel-container">
      <div class="logo-track">

        <div class="logo-item"><img src="img/portfolio/experience/smollan.jpeg" alt="Smollan"></div>
        <div class="logo-item"><img src="img/portfolio/experience/orb.jpeg" alt="Orb"></div>
        <div class="logo-item"><img src="img/portfolio/experience/samsung logo black.png" alt="Samsung"></div>
        <div class="logo-item"><img src="img/portfolio/experience/ttrans.jpeg" alt="Ttrans"></div>
        <div class="logo-item"><img src="img/portfolio/experience/Ooredoo-Logo_CMYK_On-White-BG_FA-01.png" alt="Ooredoo"></div>
        <div class="logo-item"><img src="img/portfolio/experience/ndw.jpeg" alt="NDW"></div>
        <div class="logo-item"><img src="img/portfolio/experience/icosnet.png" alt="Icosnet"></div>
        <div class="logo-item"><img src="img/portfolio/experience/LOGO PEPSI.svg" alt="Pepsi"></div>
        <div class="logo-item"><img src="img/portfolio/experience/logo unilever.svg" alt="Unilever"></div>
        <div class="logo-item"><img src="img/portfolio/experience/Logo_Palmary.png" alt="Palmary"></div>

        <div class="logo-item"><img src="img/portfolio/experience/smollan.jpeg" alt="Smollan"></div>
        <div class="logo-item"><img src="img/portfolio/experience/orb.jpeg" alt="Orb"></div>
        <div class="logo-item"><img src="img/portfolio/experience/samsung logo black.png" alt="Samsung"></div>
        <div class="logo-item"><img src="img/portfolio/experience/ttrans.jpeg" alt="Ttrans"></div>
        <div class="logo-item"><img src="img/portfolio/experience/Ooredoo-Logo_CMYK_On-White-BG_FA-01.png" alt="Ooredoo"></div>
        <div class="logo-item"><img src="img/portfolio/experience/ndw.jpeg" alt="NDW"></div>
        <div class="logo-item"><img src="img/portfolio/experience/icosnet.png" alt="Icosnet"></div>
        <div class="logo-item"><img src="img/portfolio/experience/LOGO PEPSI.svg" alt="Pepsi"></div>
        <div class="logo-item"><img src="img/portfolio/experience/logo unilever.svg" alt="Unilever"></div>
        <div class="logo-item"><img src="img/portfolio/experience/Logo_Palmary.png" alt="Palmary"></div>

      </div>
    </div>
  </div>
</section>