<!-- Header -->
<header>
  <div class="container">
    <div class="row align-items-center"> <!-- vertically center content -->

      <!-- Profile Image -->
      <div class="col-md-4 text-center">
        <img 
          class="img-circle img-profile" 
          src="img/1729096765851.jpeg" 
          alt="profile-pic" 
        />
      </div>

      <!-- Intro Text -->
      <div class="col-md-8 text-center text-md-left">
        <span class="name">{{ site.title }}</span>
        <hr class="star-light" />
        <span class="skills">{{ site.skills }}</span>
        <div class="mt-3">
          <a href="#portfolio" class="btn btn-primary btn-lg page-scroll">View Portfolio</a>
          <a href="#contact" class="btn btn-default btn-lg page-scroll">Contact Me</a>
        </div>
      </div>

    </div>
  </div>
</header>
