<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        
        <div class="header-content">
          <div class="profile-wrapper">
            <img 
              class="img-profile" 
              src="img/1729096765851.jpeg" 
              alt="profile-pic" 
            />
          </div>

          <div class="intro-text">
            <h1 class="name">{{ site.title }}</h1>
            <div class="header-divider"></div>
            <p class="skills">{{ site.skills }}</p>
          </div>
          
          <div class="header-social">
            <a href="#portfolio" class="btn-scroll">
              Explore My Work <i class="fa fa-chevron-down"></i>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>