<!-- Header -->
<header>
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12">

        <!-- Profile Image -->
        <img 
          class="img-circle img-profile" 
          src="img/1729096765851.jpeg" 
          alt="profile-pic" 
        />

        <!-- Intro Text -->
        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
          <hr class="star-light" />
          <span class="skills">{{ site.skills }}</span>
        </div>

      </div>
    </div>
  </div>
</header>
