<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg"> <!-- Correct Bootstrap wrapper -->
    <div class="modal-content">

      <!-- Close Button -->
      <div class="close-modal" data-dismiss="modal">
        <div class="lr"><div class="rl"></div></div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
            <div class="modal-body text-center">

              <!-- Title -->
              <h2 class="modal-title">{{ post.title }}</h2>
              <hr class="star-primary">

              <!-- Image Carousel -->
              {% if post.images %}
              <div id="carousel-{{ post.modal-id }}" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                  {% for image in post.images %}
                  <div class="item {% if forloop.first %}active{% endif %}">
                    <img src="img/portfolio/{{ image }}" class="img-responsive center-block" alt="{{ post.alt }}">
                  </div>
                  {% endfor %}
                </div>

                {% if post.images.size > 1 %}
                <!-- Carousel Controls -->
                <a class="left carousel-control" href="#carousel-{{ post.modal-id }}" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-{{ post.modal-id }}" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                {% endif %}

              </div>
              {% endif %}

              <!-- Description -->
              {% if post.description %}
              <p class="modal-description">{{ post.description }}</p>
              {% endif %}

              <!-- Meta Information -->
              <ul class="list-inline item-details">
                {% if post.client %}
                <li><strong>Client:</strong> {{ post.client }}</li>
                {% endif %}

                {% if post.project-date %}
                <li><strong>Date:</strong> {{ post.project-date }}</li>
                {% endif %}

                {% if post.category %}
                <li><strong>Service:</strong> {{ post.category }}</li>
                {% endif %}
              </ul>

              <!-- Close Button -->
              <button type="button" class="btn btn-default" data-dismiss="modal">
                <i class="fa fa-times"></i> Close
              </button>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endfor %}
